#--------------------------------------------------
#Project Configuration Settings                   | 
#Required parameters                              |
#Replace following values based on user project   |
#-------------------------------------------------|

orbit=asc #Ascending , Descending
input_data=/home/user/sda/proj_data_zip
output_dir =/home/user/sdb/proj_output
graph_path=/home/user/sda/SBAS/batch_multiintf/Github_repo/insar_graph_xml
snaphu_bin=/home/user/.snap/auxdata/snaphu-v2.0.4_linux/
gpt_loc=/home/user/esa-snap/bin/gpt
clip_roi=-95.621579/-95.398870/29.717278/29.841835  #WKT Frormat is also accepted. 
master=


#------------------------
#Default Parameters     |
#------------------------

msk_shp=
invert_mask=false


insar_target = 1 # 1 = LiCSBAS , 2 = StaMPS
insar_method=2   # 1 SBAS, 2 #PS #0 Both

temporal=90
baseline=200

start_step=1
end_step=


burst_check=False
check_only=true

phase_coh_mask_th=0.1 #Default 0.1
swath_threshold=10
swath=1
l_burst=6
u_burst=7

Range=20
Azimuth=

max_loop=6    
no_loop=1         
connect_network = True
cost_mode=SMOOTH  
init_method=MCF   # Options: MST, MCF

parallel=false
threads=6
cache_size=16G     #RAM allocation

savelog= #release #debug #release      


